/*VARIABLES*/

$color1: grey;
$color2: black;
$color3: darkgoldenrod;
$color4: rgba(226, 164, 6, 0.659);
$color5: rgba(128, 128, 128, 0.637);
$color6: rgba(0, 0, 0, 0.940);

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav{
    list-style: none;
    background-color: $color3;
    height: 80px;
    width: 100%;

    #check{
        display: none;
    }

    .checkbtn{
        font-size: 30px;
        color: $color2;
        float: right; 
        line-height: 80px;
        margin-right: 40px;
        cursor: pointer;
        display: none;
    }
    
} 

.enlace{
    position: absolute ;
    padding: 10px 50px;

    .logo{
        height: 65px;
    }
}

.nav-menu{
    float: right;
    margin-right: 20px;

    li{
        display: inline-block;
        line-height: 80px;
        margin: 0 50px;
    
        a {
            color: $color2;
            font-size: 18px;
            padding: 7px 13px;
            text-decoration: none;
            text-transform: uppercase;
        }
    }
}


li a.active, li a:hover{
    color: $color2;
    background: $color1;
    transition: .5s;
    border-radius: 5px;
}


/*INDEX*/

#home{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    color: black;
    margin: 0;
}

.entrada{
    background-image: url(../img/beer-house.avif);
    height: 100vh;
    background-size: cover;
    background-position: center;
    opacity:0.8;


    .anuncio{
        margin: auto;
        transform:translateY(20%);
        height: 70%;
        width: 60%;
        border-radius: 20px;
        font-size: 30px;
        background-color:$color6;
        text-align: center;
        color: white;
    }

    .anuncio h2{
        text-transform: uppercase;
        padding: 20px;
        color: $color3;
    }

    .anuncio p{
        padding: 10px;
        text-transform:uppercase ;
    }

    .anuncio h3{
        margin: 50px;
        text-transform: uppercase;
    }

    .anuncio a{
        background: rgba(105, 104, 104, 0.611);
        padding: 20px;
        margin: 20px;
        border-radius: 30px;
        text-transform: uppercase;
        text-decoration: none;
        color: black;
        transition: .3s;
    }

        .anuncio a:hover{
            background: rgba(226, 164, 6, 0.659);
        }

}

/*HOME*/
body{
    font-family: 'Open Sans', sans-serif;
    color: black;
    position: relative;


        #pantalla-dividida {
            height: 900px;
        }
        
            .der{
                background-color: $color4;
                background-size: cover;
                float: left;
                width: 50%;
                height: 100%;
                padding: 80px 10px 10px 10px;
            
                h1, h2, h3 {
                    font-size: 50px;
                    text-transform: uppercase;
                    text-align: center;
                    margin: 20px;
                }
                
                p{
                    font-size: 20px;
                    margin: 40px;
                    text-align: center;
                }
            }
            
            .izq {
                background-image: url(../img/home.jpg);
                width: 50%;
                height: 100%;
                background-position: center;
                background-size: cover;
                float: right;
            }
            
    }

/*CERVEZAS*/

.clasicas{
    height: 200px;
    width: 100%;
    background-color: $color4; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    h1{
        color: $color2;
        text-align: center;
        padding: 10px;
        text-decoration: solid;
        font-size: 60px;
    }

    p{
        width: 50%;
        font-size: 18px;
        text-align: center;
    }
}

.catalogo{
    background-color: #EADDCD;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='24' viewBox='0 0 88 24'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='autumn' fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M10 0l30 15 2 1V2.18A10 10 0 0 0 41.76 0H39.7a8 8 0 0 1 .3 2.18v10.58L14.47 0H10zm31.76 24a10 10 0 0 0-5.29-6.76L4 1 2 0v13.82a10 10 0 0 0 5.53 8.94L10 24h4.47l-6.05-3.02A8 8 0 0 1 4 13.82V3.24l31.58 15.78A8 8 0 0 1 39.7 24h2.06zM78 24l2.47-1.24A10 10 0 0 0 86 13.82V0l-2 1-32.47 16.24A10 10 0 0 0 46.24 24h2.06a8 8 0 0 1 4.12-4.98L84 3.24v10.58a8 8 0 0 1-4.42 7.16L73.53 24H78zm0-24L48 15l-2 1V2.18A10 10 0 0 1 46.24 0h2.06a8 8 0 0 0-.3 2.18v10.58L73.53 0H78z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    
}

.card{
    height: 100%;
    transition: 0.5s;
    object-fit: cover;
    border: 2px solid rgb(145, 145, 145);

    img{
        height: 300px;
    }
}

.card:hover{
    transform: scale(1.1);
    background-color: rgb(145, 145, 145);
}

.card-body{
    .card-title{
        font-size: 30px;
        text-transform: uppercase;
        text-align: center;
    }

    .card-text{
        font-size: 15px;
        text-align: center;
    }
}
/*VENTAS*/

.ventas{
    background-image: url(../img/venta.jpg);
    background-size: cover;
    height: 100vh;

    .minorista{
        background-color: $color6;
        height: 40%;
        display: flex;
        align-items:center ;
        justify-content: space-around;
        border-bottom: $color1 solid 3px;

            h2{
                color: white;
                text-transform: uppercase;
                font-size: 40px;
            }

        .card{
            height: 70%;
            margin: 30px;
            border: $color1 solid 3px;

            img{
                height: 100%;
                width: 100%;
            }

            .card-body{
                background-color: $color3 ;
                border: $color1 solid 2px;

                p{
                    font-size: 17px;
                    margin: 20px;
                }

                .btn{
                    background-color: $color2;
                    padding: 10px;
                    margin-left: 70px;
                }

                a{
                    text-decoration: none;
                    font-size: 20px;
                    color: white;
                    text-transform: uppercase;
                }

                a:hover{
                    background-color: rgba(128, 128, 128, 0.858);
                    color: $color2;
                    border: $color2 solid 2px;
                }
            
            }
        }
    }
}

/*CONTACTO*/

.cont-contac{
    width: 100%;
    background-color: #EADDCD;
    background-image: url(../img/beer-house.avif);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    opacity:0.8;
    display: flex;
    align-items: center;
    flex-direction: column;


    .contacto{
        width:40%;
        height: 300px;
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: $color6;
        color: white;
        border-radius: 40px;
        
            h2{
                text-align: center;
                margin: 30px;
                text-transform: uppercase;
                border-bottom: solid 3px white ;
            }

            img{
                height: 40px;
                margin: 50px;
            }
    }

    .enviar-mapa{
        width: 100%;
        height: 200px;
        background-color: $color4;

            p{
                font-size: 45px;
                text-align: center;
                margin: 30px;
                text-transform: uppercase;
            }

            a{
                display: flex;
                justify-content: center;
                text-decoration: none;
            }
                i{
                    color: #24262b;
                    font-size: 50px;
                }
    }

    #carouselExampleCaptions{
        width: 95%;
        margin: 20px;
    }

        .carousel-caption{

            h5{
                font-size: 70px;
                text-transform: uppercase;
            }

            p{
                font-size: 20px;
            }
        }

    #maps{
        display: flex;
        justify-content: space-between;
        background-color: $color4;
        width: 100%;
        height: 350px;
        margin: 40px;

        iframe{
            margin: 20px;
            height: 300px;
            margin-left: 20%;
        }

        h3{
            text-transform: uppercase;
            margin: 20px;
            width: 20%;
            margin-right: 20%;
            
        }
    }

}

/*FOOTER*/

.foot{
    background-color: #24262b;
    width: 100%;
    height: 100px;

    a{
        text-decoration: none;
        color: rgb(182, 178, 178);
        font-size: 30px;
        display:inline-flex ;
        margin: 30px;
        margin-left: 120px ;
    }

    .copy{
        display: inline-flex;
        justify-content: flex-end;

        h2{
            margin-top: 30px;
            color: rgb(182, 178, 178);
            font-size: 20px;
        }
    }
}





/*HEADER RESPONSIVE*/
@media only screen and (max-width: 950px) {

    .enlace{
        padding-left: 10px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media only screen and (max-width: 891px) {

    .checkbtn{
        display: block;
    }

    ul{
        position: fixed;
        width: 100%;
        height: 50%;
        background-color: $color4;
        top: 80px;
        left: 100%;
        text-align: center;
        transition: all .7s;
        z-index: 1;
        }

    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    
    nav ul li a{
        font-size: 20px;
    }

    li a:hover, li a.active{
    background: gray;
    }

    #check:checked ~ul{
        left: 0;
    }
}

/*INDEX*/
@media screen and (min-width: 655px) and (max-width: 1245px) {
    .entrada{

        .anuncio{
            height: 80%;
            width: 80%;
        }
        
    }

/*CONTACTO RESPONSIVE*/
    .cont-contac{
        
        .contacto{

                img{
                    height: 40px;
                    margin: 35px;
                    
                }
        }
}
}
/*HOME*/
@media screen and (min-width: 200px) and (max-width: 1057px) {
    #pantalla-dividida{
        .der{
            width: 70%;
        }


        .izq{
            width: 30%;
        }
    }

/*FOOTER*/
.foot{

    a{
        margin: 30px;
    }
}
}

@media screen and (min-width: 200px) and (max-width: 655px) {
    .entrada{

        .anuncio{
            height: 70%;
            width: 80%;
        }
            h2{
                font-size: 30px;
            }

            p, h3, a{
                font-size: 20px;
            }
        
    }

    /*FOOTER*/
.foot{
    height: 200px;

    a{
        margin: 20px;
    }
}
}

@media screen and (min-width: 200px) and (max-width: 417px) {
    .entrada{

        .anuncio{
            height: 80%;
            width: 80%;
        }
            h2{
                font-size: 30px;
            }

            p, h3, a{
                font-size: 20px;
            }
        
    }
}

@media screen and (min-width: 200px) and (max-width: 369px){
    #pantalla-dividida{
        .der{
            width: 100%;
            background-image: url(../img/home.jpg);

            h1, h2, h3{
                font-size: 30px;
                margin-top: 5px;
                background-color: white;
                border-radius: 5%;
            }

            p{
                font-size: 15px;
                margin: 10px;
                background-color: rgba(255, 255, 255, 0.764);
                border-radius: 5%;
            }
        }

        .izq{
            background-image: none;
            width: 0;
        }
    } 
}

/*CERVEZA*/
@media only screen and (max-width: 600px) {
    .clasicas{
        height: 40%;
        width: 100%;
        text-align: center;
    }
    
    .card:hover{
        transform: none;
        translate: none;
        background-color: white;
    }
}

/*CONTACTO RESPONSIVE*/

@media screen and (min-width: 761px) and (max-width: 847px) {
    .cont-contac{
        
        .contacto{

                img{
                    height: 40px;
                    margin: 55px;
                    margin-top: 10px;
                    
                }
        }
}

#carouselExampleCaptions{

    .carousel-caption{

        h5{
            font-size: 40px;
        }
    }
}
}

@media screen and (min-width: 361px) and (max-width: 761px) {
    .cont-contac{
        
        .contacto{

                img{
                    height: 40px;
                    margin: 45px;
                    margin-top: 10px;
                    
                }
        }

        .enviar-mapa{
            height: 200px;

            p{
                font-size: 30px;
            }

            i{
                font-size: 30px;
            }
        }
    }        
        #pantalla-dividida{
            .der{
                width: 80%;

                p{
                    margin: 10px;
                }
            }
    
    
            .izq{
                width: 20%;
            }
        }    

}

@media screen and (min-width: 158px) and (max-width: 661px) {
    .cont-contac{
        
        .contacto{

                img{
                    height: 40px;
                    margin: 35px;
                    margin-top: 10px;
                    
                }
        }

    #maps{
        
        iframe{
            margin-left: 10%;
            margin: 20px;
            height: 300px;
            width: 300px;
        }

        h3{
            font-size: 20px;
        }
    }
}
/*VENTAS*/
.ventas{
height: 200vh;
    .minorista{
            flex-wrap: wrap;

            .card{
                margin-top: 100px;
                height: 100%;
                border: none;

                img{
                    height: 200px;
                }
            }
        }
    }    

}

@media screen and (min-width: 361px) and (max-width: 561px) {
    .cont-contac{
        
        .contacto{
            width: 70%;
                img{
                    height: 40px;
                    margin: 50px;
                    margin-top: 10px;
                    
                }
        }

    #maps{
        
        iframe{
            margin-left: 10%;
            margin: 10px;
            height: 250px;
            width: 250px;
        }

        h3{
            font-size: 20px;
        }
    }
}

#pantalla-dividida{
    .der{
        width: 90%;

        h1, h2, h3{
            font-size: 40px;
            margin-top: 10px;
        }

        p{
            font-size: 20px;
            margin: 10px;
        }
    }

    .izq{
        width: 10%;
    }
} 
}

@media screen and (min-width: 155px) and (max-width: 476px) {
    .cont-contac{
        
        .contacto{
            width: 70%;
                img{
                    height: 40px;
                    margin: 50px;
                    margin-top: 10px;
                    
                }
        }

    #maps{
        
        iframe{
            margin-left: 10%;
            margin: 10px;
            height: 250px;
            width: 200px;
        }

        h3{
            font-size: 17px;
        }
    }
}

@media screen and (min-width: 155px) and (max-width: 406px) {
    .cont-contac{
        
        .contacto{
            width: 70%;
                img{
                    height: 40px;
                    margin: 30px;
                    margin-top: 10px;
                    
                }
        }

    #maps{
        
        iframe{
            margin-left: 10%;
            margin: 10px;
            height: 250px;
            width: 200px;
        }

        h3{
            font-size: 15px;
        }
    }
}
}
}



